input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}
input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}
signupButtons {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}
button:hover {
    opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
    padding: 14px 20px;
    background-color: red;
}
.signupbtn{
  background-color: green;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
    padding: 16px;
}


/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}
 
/* The Close Button (x) */
.close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
}

.close:hover,
.close:focus {
    color: #f44336;
    cursor: pointer;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
       width: 100%;
    }
}
html{
  background: linear-gradient(to bottom, #ffff66 0%, #ff0000 100%);
  text-align: center;
}
#but1{
  display: flex;
  justify-content: space-between;
}
li{
  text-align: left;
  font-size: 20px;
  font-family: 'Petit Formal Script', cursive;

}
#log{
  text-align:right;
  
}
#stuff{
  display: flex;
  justify-content: space-between;
  background-color: #ff7373;
  
}
.stuff1{
  color: white;
    font-family: 'Petit Formal Script', cursive;

}
.OAR{
  font-family: 'Aguafina Script', cursive;
  font-size: 60px;
  
}
.words{
  font-family: 'Petit Formal Script', cursive;
  font-size: 20px;
}
.words2{
  font-family: 'Petit Formal Script', cursive;
  color: black;
  font-weight: bold;
  text-decoration: none;
}
a:visited {
    color: white;
}
.home{
  font-weight: bold;
  font-size: 20px;
  color: white;
}
.site{
  text-decoration: none;
}
button{
  background-color: black;
  border-radius: 50%;
  padding: 20px;
}
#buuton{
  color:white;
}
#buu{
  color:white;
}
#buu2{
  color:white;
}
#buu3{
  color:white;
}
.ciao{
  margin: 20px;
}
#stuff2{
  display: flex;
  justify-content: flex-start;
}

#stuff3{
  display: flex;
  justify-content: flex-end;
}
#allstuff{
  display:flex;
  justify-content:space-between;
}
#miss{
  font-family: 'Euphoria Script', cursive;
  color: black;
  font-weight: bold;
  font-size: 60px;
}
.words3{
  font-family: 'Petit Formal Script', cursive;
  color: black;
  font-weight: bold;
  font-size: 15px;
}
.alum{
  font-family: 'Euphoria Script', cursive;
  color: black;
  font-weight: bold;
  font-size: 45px;
}
#miss2{
  font-family: 'Euphoria Script', cursive;
  color: white;
  font-weight: bold;
  font-size: 35px;
}
.groupie{
 font-family: 'Petit Formal Script', cursive;
  color: white;
  font-weight: bold;
  font-size: 15px; 
}
#site2{
  text-decoration: none;
  color:white;
}