html{
  background: linear-gradient(to bottom, #ffff66 0%, #ff0000 100%);
  
  text-align: center;
}

#but1{
  display: flex;
  
  justify-content: space-between;
}



#log{
  text-align:right;
  
}


#stuff{
  display: flex;
  justify-content: space-between;
  background-color: #ff7373;
  
}

.stuff1{
  color: white;
    font-family: 'Petit Formal Script', cursive;

}

.OAR{
  font-family: 'Aguafina Script', cursive;
  font-size: 60px;
  
}

.words{
  font-family: 'Petit Formal Script', cursive;
  font-size: 20px;
}

.words2{
  font-family: 'Petit Formal Script', cursive;
  color: black;
  font-weight: bold;
  margin: 10px;
}

a:visited {
    color: white;
}

.site{
  text-decoration: none;
}
button{
  background-color: black;
  border-radius: 50%;
  padding: 20px;
}
#buuton{
  color:white;
}

#buu, #buu2, #buu3{
  color:white;
}


#allstuff{
  display:flex;
  justify-content:space-between;
}

#miss{
  font-family: 'Euphoria Script', cursive;
  color: black;
  font-weight: bold;
  font-size: 60px;
}

.words3{
  font-family: 'Petit Formal Script', cursive;
  color: black;
  font-weight: bold;
  font-size: 15px;
}

.alum{
  font-family: 'Euphoria Script', cursive;
  color: black;
  font-weight: bold;
  font-size: 45px;
}

#miss2{
  font-family: 'Euphoria Script', cursive;
  color: white;
  font-weight: bold;
  font-size: 35px;
}

.groupie{
 font-family: 'Petit Formal Script', cursive;
  color: white;
  font-weight: bold;
  font-size: 15px; 
}

#grad{
  background: -webkit-linear-gradient(#000000,#6d6d6d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent
}

#grad2{
  font-family: 'Lobster Two', cursive;
  font-size: 22px;
  background: -webkit-linear-gradient(#adadad, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent
}

img{
  width: 255px;
}

#im-gs{
  display: flex;
  justify-content: space-between;
}
#log{
  display: flex;
  justify-content:space-between;
}

#next1{
  font-family: 'Petit Formal Script', cursive;
  color: white;
  font-weight: bold;
  margin: 10px;
}

#enterBut{
   font-family: 'Petit Formal Script', cursive;
  color: white;
  font-weight: bold;
  margin: 10px;
}

#newnext{
  font-family: 'Petit Formal Script', cursive;
  color: white;
  font-weight: bold;
  margin: 10px;
  
}

#welcome{
 font-family: 'Petit Formal Script', cursive;
  color: white;
  font-weight: bold;
  margin: 10px;
}

/* ashley's todolist */
body {
  margin: 0;
  min-width: 250px;
}

/* Include the padding and border in an element's total width and height */
* {
  box-sizing: border-box;
}

/* Remove margins and padding from the list */
ul {
  margin: 0;
  padding: 0;
}

/* Style the list items */
ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background: #FFFF66;
  font-size: 18px;
  transition: 0.2s;
  
  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
  background: #FF6347;
}

/* Darker background-color on hover */
ul li:hover {
  background: #FFA500;
}

/* When clicked on, add a background color and strike out text */
ul li.checked {
  background: #888;
  color: #fff; 
  text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

/* Style the close button */
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:todoheader {
  background-color: #f44336;
  color: white;
}

/* Style the header */
.todoheader {
  background-color: #f44336;
  padding: 30px 40px;
  color: white;
  text-align: center;
}

/* Clear floats after the header */
.header:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the input */
#myInput {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

/* Style the "Add" button */
.addBtn {
  padding: 10px;
  width: 25%;
  background: #00FF00;
  color: #ADFF2F;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

.addBtn:hover {
  background-color: #bbb;
}
#allbasic{
  display: flex;
  justify-content: space-between;
  

}
.basic1{
  font-family: 'Petit Formal Script', cursive;
  color: black;
  font-weight: bold;
  font-size: 20px;
}
.basic2{
   font-family: 'Lobster Two', cursive;
  font-size: 15px;
}
